

html {
    box-sizing: border-box;
}

p {
color: red;
font-family:'Courier New', Courier, monospace;
font-size: 20px;
}

p:hover {
    color: white;
    font-style: bold;
}


body{
    background-color:rgb(85, 167, 249);

}
div {
    background-color: rgb(18, 34, 157);
    border: 2px solid red;
    padding: 30px;

}

